@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css");
@import "tailwindcss";


/* 커스텀 테마 설정 */
@theme {
  --color-brand-start: #7BD6E2;
  --color-brand-end: #FFFDD1;
  --color-sidebar-bg: #E5F4FD;
}


.scrollbar-hide {
  -ms-overflow-style: none !important; 
  scrollbar-width: none !important; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none !important; 
}